.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.nav-menu__link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #333; 
    text-decoration: none;
}

.nav-menu__link:hover {
    text-decoration: underline;
}

main {
    background-color: rgb(236, 235, 235);
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.stamp {
    width: 100%;
    max-width: 800px;
    margin:  auto;
}

.stamp-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: normal;
    width: 100%; 
}

.index-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    width: 100%;
    margin-bottom: 160px;
}

.stamp-category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp-category button {
    width: 100%;
    padding: 60px 130px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
}

.stamp-category button:hover {
    background-color: #f0f0f0;
}

.stamp-category button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.alert {
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: red;
    font-size: bold;
    background-color: rgb(246, 133, 133);
    border-color: red;
}

.alert-success {
    color: red;
    background-color: rgb(246, 133, 133);
    border-color: red;
}
