.header__wrap {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.header__text {
    font-size: 30px;
    font-weight: bold;
}


.body__wrap {
    padding-top: 65px;
    padding-bottom: 20px;
    text-align:  center;
}

.body__text {
    font-size: 30px;
    font-weight: bold;
}

.alert-success {
    font-size: 16px;
    font-weight: bold;
    color: rgb(60, 60, 251);
}

.verify-email-btn {
    display: inline;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    color: red;
    background-color:  #fff;
    border-radius: 5px;
    cursor: pointer;
}
.back__button {
    display: block;
    margin-top: 20px;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(60,60,251);
    text-decoration: none;
}