.header__wrap {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.header__text {
    font-size: 22px;
}

.body__wrap {
    padding-top: 65px;
    padding-bottom: 20px;
    text-align:  center;
}

.body__text {
    font-size: 22px;
}

.alert-success {
    font-size: 16px;
    color: rgb(60, 60, 251);
}

.verify-email-btn {
    margin-top: 20px;
    border: 2px solid rgb(60, 60, 251); 
    background-color: white; 
    color: rgb(60, 60, 251);
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}
